.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



#product-slider {
    cursor: pointer;
    display: flex;
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    scroll-behavior: smooth; /* Desplazamiento suave */
    gap: 10px; /* Espacio entre productos */
    width: 100%; /* Ocupa todo el ancho */
}

#product-slider::-webkit-scrollbar {
    height: 10px; /* Altura de la barra de desplazamiento */
}

#product-slider::-webkit-scrollbar-thumb {
    background-color: #ff22a3; /* Color principal de la barra */
    border-radius: 10px; /* Bordes redondeados */
    border: 2px solid #ffffff; /* Bordes blancos para un contraste limpio */
}

#product-slider::-webkit-scrollbar-track {
    background: #f0f0f0; /* Color del fondo del track */
}







.product-item {
    flex: 0 0 calc(20% - 20px); /* 5 productos por fila (20% cada uno) con un margen de 10px */
    margin: 10px;
    box-sizing: border-box; /* Incluir padding y margen en el cálculo del ancho */
}

/* Dispositivos medianos (tablets) */
@media (max-width: 768px) {
    .product-item {
        flex: 0 0 calc(33.33% - 20px); /* 3 productos por fila en tablets */
    }
}

/* Dispositivos pequeños (móviles) */
@media (max-width: 480px) {
    #product-slider {
        flex-wrap: nowrap; /* Evitar el wrap en móviles, mantener el scroll horizontal */
    }
    
    .product-item {
        flex: 0 0 calc(100% - 20px); /* 1 producto por fila en móviles */
    }
}

#slider-controls {
    margin-top: 20px;
}

#slider-controls button {
    background-color: #ff00bb;
    color: rgb(245, 239, 239);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Animación de salto */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); /* Posición inicial */
    }
    40% {
        transform: translateY(-10px); /* Salta hacia arriba */
    }
    60% {
        transform: translateY(-5px); /* Salta menos alto */
    }
}

#slider-controls button:hover {
    animation: bounce 0.6s; /* Aplica la animación de salto */
    background-color: #121211; /* Cambia el color al pasar el cursor */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}

#slider-controls button:active {
    transform: scale(0.95); /* Efecto al hacer clic */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


/* CSS  PARA LA VERSION DE COLUMNAS */








